<html>
	<head>
		<title>Erro 404 - P&aacute;gina n&atilde;o Encontrada</title>
		<link rel="stylesheet" type="text/css" href="/media/julianajabur/static/css/error.css" />
	</head>

	<body>
		<div id="logo">
  			<img src="/media/julianajabur/static/images/logo_gif.png" alt="Angry face" />
		</div>
		<div id="titulosite">
  			<h1>Juliana Jabur - Designer de Interiores</h1>
		</div>
		<div id="conteudo">		
			<h1>404 - P&aacute;gina n&atilde;o Encontrada</h1>
		</div>
		<div id="conteudodesc">		
			<h1>A p&aacute;gina que voc&ecirc; procura n&atilde;o se encontra dispon&iacute;vel neste servidor.</h1>
		</div>
		<div id="conteudolink">		
			<a href="http://www.julianajabur.com">Voltar para a Home</a>
		</div>
	</body>
</html> 
